<%- include(header) -%>

<h2> This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis scelerisque nibh, sagittis hendrerit urna. Nulla faucibus lacinia turpis non cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut pretium sem nisl, non ultricies ligula hendrerit at. Aenean fermentum placerat felis id molestie. Nullam venenatis egestas vulputate. Morbi laoreet diam nec elit vestibulum lacinia. Etiam ac dapibus dolor. Donec lobortis felis vel blandit porta. Nunc vestibulum purus non diam blandit, ac placerat massa volutpat. Suspendisse a quam at tellus rutrum egestas ac in dolor. Donec tincidunt nulla neque, vitae sollicitudin est porta eu. Sed sit amet magna eget neque dictum ullamcorper. Suspendisse commodo sapien eros, ut ornare justo consectetur non.</p>

<%- include(footer) -%>